<header>
  <div class="container">
    <nav>
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Resume", resume_path %></li>
        <li><%= link_to "Hobbies", hobbies_path %></li>
      </ul>
    </nav>
  </div>
</header>